<ion-view view-title="Corvee" has-subheader>
<ion-header-bar class="bar-stable bar-subheader">
      <div class="buttons">
        <button ng-if="isAdmin" class="button button-icon icon ion-ios-minus-outline" ng-click="showDelete()"></button>
      </div>
      <h1 class="title"></h1>
      <div class="buttons">
		<button class="button button-outline" ng-if="isAdmin" ng-click="updateDuties()">Update Corvee</button>
		<button class="button button-outline" ng-if="isAdmin" ng-click="addDuty()">Add corvee</button>
      </div>
</ion-header-bar>
  <ion-content>
	<div class="row content-margin">
		<div class="col content-margin">
			<h4 class="section-heading">Aankomend</h4>
			<hr class="hr-left">
		</div>
	</div>
    <ion-list show-delete="ShowDelete" can-swipe="isAdmin">
      <ion-item ng-repeat="duty in duties | orderBy:'start' | isFutureDuty | limitTo: limit">
            <date-Time sdate='duty.start'></date-Time> tot <date-Time sdate='duty.end'></date-Time> <span ng-repeat="(id,value) in duty.Duty">{{players[id].firstName}} {{players[id].insertion}} {{players[id].lastName}}</span>
			<ion-delete-button class="ion-minus-circled"
							   ng-click="onItemDelete(duty)">
			</ion-delete-button>
			<ion-option-button class="button-dark" ng-if="isAdmin" ng-click="$event.stopPropagation(); editDuty(duty)">Edit</ion-option-button>
      </ion-item>
	  <ion-item class="center smaller">
			<div ng-click="loadMore()" ng-show="limit == 3">Meer laden</div>
			<div ng-click="loadLess()" ng-show="limit != 3 ">Minder laden</div>
		</ion-item>
    </ion-list>
      <ion-item class="item-light content-margin" ng-click="toggleGroup('past')" ng-class="{active: isGroupShown('past')}">
          Geschiedenis
          <i class="icon float-right" ng-class="isGroupShown('past') ? 'ion-chevron-up' : 'ion-chevron-down'"></i>

      </ion-item>
      <ion-list class="card item-text-wrap" show-delete="ShowDelete" can-swipe="isAdmin">
          <ion-item ng-repeat="duty in duties | orderBy:'-start' | isPastDuty" class="item-accordion disabled" ng-show="isGroupShown('past')">
              <date-Time sdate='duty.start'></date-Time> tot <date-Time sdate='duty.end'></date-Time> <span ng-repeat="(id,value) in duty.Duty">{{players[id].firstName}} {{players[id].insertion}} {{players[id].lastName}}</span>
              <ion-delete-button class="ion-minus-circled"
                                 ng-click="onItemDelete(duty)">
              </ion-delete-button>
              <ion-option-button class="button-dark" ng-if="isAdmin" ng-click="$event.stopPropagation(); editDuty(duty)">Edit</ion-option-button>
          </ion-item>
      </ion-list>
      </ion-list>
	
	

  </ion-content>
</ion-view>
