<ion-view view-title="Edit Event">
    <ion-content>
		<span>Datum
        <ionic-datepicker name="date" idate="eventDate" disablepreviousdates="true"  disablefuturedates="false" callback="datePickerCallback" disableddates="disabledDates" title="title">
            <button class="button button-block button-stable"> {{ eventDate | date:'dd - MMMM - yyyy' }} </button>
        </ionic-datepicker>
		</span>
		<span>tijd
        <ionic-timepicker name="time" etime="gameTime" format="24" step="15" callback="timePickerCallback">
            <button class="button button-block button-stable"> <standard-time-no-meridian etime='eventTime'></standard-time-no-meridian></button>
        </ionic-timepicker>
		</span>
        <label class="item-input">
            <span class="input-label">Locatie</span>
            <input type="text"
                   ng-model="location"/>
        </label>

        <button class="button button-block" ng-click="updateEvent(location)">Opslaan</button>
    </ion-content>
</ion-view>
