<ion-view cache-view="false" view-title="Wedstrijden" has-subheader>
    <ion-header-bar class="bar-stable bar-subheader">
        <div class="buttons">
            <button ng-if="isAdmin" class="button button-icon icon"
                    ng-click="showDelete()" ng-class="ShowDelete ? 'ion-minus-circled' : 'ion-ios-minus-outline'"></button>
        </div>
        <h1 class="title"></h1>

        <div class="buttons">
            <button class="button button-bq button-outline" ng-if="isAdmin" ng-click="addGame()">Add Game
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="row content-margin">
            <div class="col content-margin">
                <h4 class="section-heading">Aankomend</h4>
                <hr class="hr-left">
            </div>
        </div>
        <ion-list class="card item-text-wrap no-margin" show-delete="ShowDelete" can-swipe="isAdmin">

            <ion-item ng-repeat="game in games | orderBy: 'date' | isFuture | limitTo:limit" ng-click="getDetail(game)" class="no-padding">

                <div class="row no-padding">
                    <div class="col-25 no-padding"><span class="smaller">{{game.date | date: 'dd-MM-yyyy'}}</span> <br/>
                        <standard-time-no-meridian etime='game.time'></standard-time-no-meridian>
                    </div>
                    <div class="col-75 no-padding">{{game.home}} - {{game.away}}</div>

                    <ion-delete-button class="ion-minus-circled"
                                       ng-click="onItemDelete(game)">
                    </ion-delete-button>
                    <ion-option-button class="button-balanced"
                                       ng-click="$event.stopPropagation(); changeAttendance('present',game)">P
                    </ion-option-button>
                    <ion-option-button class="button-assertive"
                                       ng-click="$event.stopPropagation(); changeAttendance('absent',game)">A
                    </ion-option-button>
                    <ion-option-button class="button-dark" ng-if="isAdmin"
                                       ng-click="$event.stopPropagation(); editGame(game)">Edit
                    </ion-option-button>
                    <ion-option-button class="button-royal" ng-if="isAdmin"
                                       ng-click="$event.stopPropagation(); statsGame(game)">Stats
                    </ion-option-button>
                </div>
            </ion-item>
            <ion-item class="center smaller">
                <div ng-click="loadMore()" ng-show="limit == 3">Meer laden</div>
                <div ng-click="loadLess()" ng-show="limit != 3 ">Minder laden</div>
            </ion-item>
        </ion-list>

        <!--<ion-item class="item-stable" ng-click="toggleGroup('past')" ng-class="{active: isGroupShown('past')}">-->
        <!--<i class="icon" ng-class="isGroupShown('past') ? 'ion-android-arrow-dropright-circle' : 'ion-android-arrow-dropdown-circle'"></i>-->

        <!--<div class="row content-margin">-->
            <!--<div class="col">-->
                <!--<h4 class="section-heading">Geschiedenis</h4>-->
                <!--<hr class="hr-left">-->
            <!--</div>-->
        <!--</div>-->

        <ion-item class="item-light" ng-click="toggleGroup('past')" ng-class="{active: isGroupShown('past')}">
            <b>Geschiedenis</b>  <i class="float-right" ng-class="isGroupShown('past') ? 'dripicons-chevron-up' : 'dripicons-chevron-down'"></i>
        </ion-item>
        <!--</ion-item>-->
        <ion-list class="card item-text-wrap no-margin" show-delete="ShowDelete" can-swipe="isAdmin">
            <ion-item ng-repeat="game in games | orderBy: '-date' | isPast" ng-click="getDetail(game)"
                      class="item-accordion no-padding" ng-show="isGroupShown('past')">
                <div class="row no-padding">
                    <div class="col-25 no-padding"><span class="smaller">{{game.date | date: 'dd-MM-yyyy'}}</span> <br/>
                       {{game.type}} <standard-time-no-meridian etime='game.time'></standard-time-no-meridian> 
                    </div>
                    <div class="col-75 no-padding">{{game.home}} <span ng-if="game.score !== undefined">{{game.score}}</span><span ng-if="game.score === undefined"> vs </span> {{game.away}}<br/>
                         ({{game.noPresent}})({{game.noAbsent}})({{game.noUnknown}})
                    </div>
                    <ion-delete-button class="ion-minus-circled"
                                       ng-click="onItemDelete(game)">
                    </ion-delete-button>
                    <ion-option-button class="button-dark" ng-if="isAdmin"
                                       ng-click="$event.stopPropagation(); editGame(game)">Edit
                    </ion-option-button>
                    <ion-option-button class="button-royal" ng-if="isAdmin"
                                       ng-click="$event.stopPropagation(); statsGame(game)">Stats
                    </ion-option-button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

