<ion-view view-title="Wedstrijden" has-subheader>
  <ion-header-bar class="bar-stable bar-subheader">
      <div class="buttons">
        <button ng-if="isAdmin" class="button button-icon icon ion-ios-minus-outline" ng-click="showDelete()"></button>
      </div>
      <h1 class="title"></h1>
      <div class="buttons">
		<button class="button button-bq" ng-if="isAdmin" ng-click="addGame()">Add game</button>
      </div>
    </ion-header-bar>
  <ion-content >
    <ion-list class="card item-text-wrap" show-delete="ShowDelete" can-swipe="isAdmin">
          <ion-item ng-repeat="game in games">
            <date-Time sdate='game.date'></date-Time> <standard-time-no-meridian etime='game.time'></standard-time-no-meridian> {{game.home}} vs {{game.away}}
			<ion-delete-button class="ion-minus-circled"
							   ng-click="onItemDelete(game)">
			</ion-delete-button>
			<ion-option-button class="button-balanced" ng-click="$event.stopPropagation(); changeAttendance('present',game)">P</ion-option-button>
			<ion-option-button class="button-assertive" ng-click="$event.stopPropagation(); changeAttendance('absent',game)">A</ion-option-button>
			<ion-option-button class="button-dark" ng-if="isAdmin" ng-click="$event.stopPropagation(); editGame(game)">Edit</ion-option-button>
			<ion-option-button class="button-royal" ng-if="isAdmin" ng-click="$event.stopPropagation(); statsGame(game)">Stats</ion-option-button>
	  </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
