<ion-view view-title="Wedstrijd info">
    <ion-content>
        <ion-list>
            <div class="header">
                <h3 class="center">{{game.home}} vs {{game.away}}</h3>

                <h3 class="center">{{homeScore}} - {{awayScore}}</h3>
                <span class="center">Datum: {{ game.date | date:'dd - MM - yyyy' }}</span>
                <span class="center">Aanvang wedstrijd: <standard-time-no-meridian
                        etime='game.time'></standard-time-no-meridian></span>
                <span class="center">Verzameltijd: <standard-time-no-meridian
                        etime='game.collect'></standard-time-no-meridian></span>

                <div ng-if="settings.dutyGames === true">
                    <span ng-repeat="(id,value) in game.Duty" class="center">Corvee: <player-name player='players[id]'
                                                                                                  nick-name='useNickNames'></player-name></span>
                </div>
            </div>

            <div class="button-bar m-b-20">
                <button class="button" ng-click="goToSlide(0)" ng-class="slideIndex == 0 ? 'primary active' : ''">
                    Aanwezigheid
                </button>
                <button class="button" ng-click="goToSlide(1)" ng-class="slideIndex == 1 ? 'primary active' : ''">
                    Verslag
                </button>
                <button class="button" ng-click="goToSlide(2)" ng-class="slideIndex == 2 ? 'primary active' : ''">
                    Basis
                </button>
            </div>

            <ion-slide-box id="game-stats" active-slide="slideIndex" ng-init="disableSwipe()" show-pager="false">
                <ion-slide>
                    <div ng-if="!isPast">
                        <h3 class="center">Geef hier je beschikbaarheid op</h3>
                        <span class="center">Ik ben</span>

                        <div class="button-bar">
                            <a ng-class="{ 'button button-balanced' : present , 'button button-stable' : !present }"
                               ng-click="changeAttendance('present');">Present</a>
                            <a ng-class="{ 'button button-assertive' : absent , 'button button-stable' : !absent  }"
                               ng-click="changeAttendance('absent');">Absent</a>
                            <!--<a ng-class="{ 'button button-royal' : unknown , 'button button-stable' : !unknown}">onbekend</a>-->
                        </div>
                    </div>
                        <div class="row responsive-sm">
                            <div class="col">
                                <p class="balanced center">Aanwezig:{{numberPresent}}</p>
                                <p class="assertive center">Afwezig: {{numberAbsent}}</p>
                                <p class="royal center">Onbekend: {{numberUnknown}}</p>
                            </div>
                            </div>
                    <div class="row responsive-sm">
                            <div class="col">
                                <div class="item item-divider">
                                    <span>Present ({{numberPresent}})</span>
                                </div>
                                <ion-item ng-repeat="(id,value) in game.Present">
                                    <player-name player='players[id]' nick-name='useNickNames'></player-name>
                                    <!-- <ion-option-button class="button-balanced" ng-if="isAdmin" ng-click="$event.stopPropagation(); forceAttendance('present',id)">P</ion-option-button> -->
                                    <ion-option-button class="button-assertive" ng-if="isAdmin"
                                                       ng-click="$event.stopPropagation(); forceAttendance('absent',id)">
                                        A
                                    </ion-option-button>
                                    <ion-option-button class="button-royal" ng-if="isAdmin"
                                                       ng-click="$event.stopPropagation(); forceAttendance('unknown',id)">
                                        O
                                    </ion-option-button>
                                </ion-item>
                            </div>
                            <div class="col">
                                <div class="item item-divider">
                                    <span>Absent ({{numberAbsent}})</span>
                                </div>
                                <ion-item ng-repeat="(id,value) in game.Absent">
                                    <player-name player='players[id]' nick-name='useNickNames'></player-name>
                                    <ion-option-button class="button-balanced" ng-if="isAdmin"
                                                       ng-click="$event.stopPropagation(); forceAttendance('present',id)">
                                        P
                                    </ion-option-button>
                                    <!-- <ion-option-button class="button-assertive" ng-if="isAdmin" ng-click="$event.stopPropagation(); forceAttendance('absent',id)">A</ion-option-button> -->
                                    <ion-option-button class="button-royal" ng-if="isAdmin"
                                                       ng-click="$event.stopPropagation(); forceAttendance('unknown',id)">
                                        O
                                    </ion-option-button>
                                </ion-item>
                            </div>
                            <div class="col">
                                <div class="item item-divider">
                                    <span>Onbekend ({{numberUnknown}})</span>
                                </div>

                                <ion-list>
                                    <ion-item ng-repeat="(key,player) in unknownPlayers">
                                        <player-name player='player' nick-name='useNickNames'></player-name>
                                        <ion-option-button class="button-balanced" ng-if="isAdmin"
                                                           ng-click="$event.stopPropagation(); forceAttendance('present',key)">
                                            P
                                        </ion-option-button>
                                        <ion-option-button class="button-assertive" ng-if="isAdmin"
                                                           ng-click="$event.stopPropagation(); forceAttendance('absent',key)">
                                            A
                                        </ion-option-button>
                                        <!-- <ion-option-button class="button-royal" ng-if="isAdmin" ng-click="$event.stopPropagation(); forceAttendance('unknown',key)">U</ion-option-button> -->

                                    </ion-item>
                                </ion-list>
                            </div>
                        </div>
                </ion-slide>
                <ion-slide>
                    <div id="game-stats">
                        <ion-item class="item stat" ng-repeat="event in gameLog | orderObjectBy:'time'">
                            <div>
                                <section class="row no-padding">
                                    <div class="col no-padding"
                                         ng-class="event.statsType === 'TheirGoals' ? 'right' : 'left'">
                                        <div class="row no-padding">
                                            <div class="col">
                                                <i ng-if="event.statsType === 'OurGoals'"
                                                   class="icon ion-ios-football"></i>
                                                <i ng-if="event.statsType === 'GameEvents'"
                                                   class="icon ion-ios-list"></i>
                                                <img src="../img/red-card.svg" width="16" height="16"
                                                     ng-if="event.statsType === 'Cards' && event.type === 'red'"
                                                        />
                                                <img src="../img/yellow-card.svg" width="16" height="16"
                                                     ng-if="event.statsType === 'Cards' && event.type === 'yellow'"
                                                        />
                                                <img src="../img/yellow-red-card.svg" width="16" height="16"
                                                     ng-if="event.statsType === 'Cards' && event.type === 'yellow2'"
                                                        />
                                                <i ng-if="event.statsType === 'Changes'"
                                                   class="icon ion-loop"></i>
                                                <i ng-if="event.statsType === 'TheirGoals'"
                                                   class="icon ion-ios-football"></i>
                                                <player-name player='players[event.player]'
                                                             nick-name='useNickNames'></player-name>


                                                <div ng-if="event.statsType === 'Changes'" class="changes">
                                                    <span>Wissel</span>
							<span ng-if="event.type === 'Position'">Positie <player-name
                                    player='players[event.player1]' nick-name='useNickNames'></player-name> voor <player-name
                                    player='players[event.player2]' nick-name='useNickNames'></player-name> </span>
							<span ng-if="event.type === 'Move'">Verplaatst<player-name player='players[event.player]'
                                                                                       nick-name='useNickNames'></player-name></span>

                                    <span ng-if="event.type === 'In/Out'" class="balanced">
                                        <player-name
                                                player='players[event.playerIn]'
                                                nick-name='useNickNames'></player-name>
                                    </span>
                                                </div>

                                                <p>
                                                    <standard-time-no-meridian
                                                            etime='event.time'></standard-time-no-meridian>
                                <span ng-if="event.type === 'In/Out'" class="assertive">
                                        <player-name
                                                player='players[event.playerOut]'
                                                nick-name='useNickNames'></player-name>
                                    </span>
                                                    <span ng-if="event.statsType === 'OurGoals'">{{event.comment}}</span>
                                                </p>

                                                <p ng-if="event.statsType === 'TheirGoals'" class="">
                                                    {{event.comment}}</p>

                                                <p ng-if="event.statsType === 'GameEvents'">{{event.comment}}</p>

                                            </div>
                                        </div>
                                    </div>
                                    <ion-option-button class="button-assertive"
                                                       ng-click="$event.stopPropagation(); onItemDelete(event)">Delete
                                    </ion-option-button>
                                    <ion-option-button class="button-dark"
                                                       ng-click="$event.stopPropagation(); editStat(event)">Edit
                                    </ion-option-button>

                                </section>
                            </div>

                        </ion-item>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div ng-if="showBasis === true && slideIndex == 2">
                            <playing-field draw-players="basis" draw-changes="changes" players="players"
                                           scroll-enabled="isScrollEnabled(value)" type="1" grid="false"
                                           drawspeed="100"></playing-field>
                        </div>
                        <div ng-if="showBasis === false && slideIndex == 2">
                            De basis opstelling is nog niet bekend
                        </div>
                </ion-slide>
        </ion-list>
    </ion-content>
</ion-view>