<ion-view view-title="Edit Wedstrijd">
    <ion-content>
        <label class="item-input">
            <span class="input-label">Thuisteam</span>
            <input type="text"
                   ng-model="home"/>
        </label>
        <label class="item-input">
            <span class="input-label">Uitteam</span>
            <input type="text"
                   ng-model="away"/>
        </label>

        <label class="item-input">
            <span class="input-label">Datum</span>
            <span>{{ gameDate | date:'dd - MMMM - yyyy' }}</span>
        </label>
        <ionic-datepicker name="date" idate="gameDate" disablepreviousdates="true"  disablefuturedates="false" callback="datePickerCallback" disableddates="disabledDates" title="title">
            <button class="button button-block button-positive"> {{ gameDate | date:'dd - MMMM - yyyy' }} </button>
        </ionic-datepicker>
        <ionic-timepicker name="time" etime="gameTime" format="24" step="15" callback="timePickerCallback">
            <button class="button button-block button-positive"> <standard-time-no-meridian etime='gameTime'></standard-time-no-meridian></button>
        </ionic-timepicker>

        <button ng-click="updateGame(home, away, gameDate, gameTime)">Opslaan</button>
    </ion-content>
</ion-view>
