<ion-view view-title="Edit Wedstrijd">
    <ion-content>
        <label ng-if="home !== teamName" class="item-input">
            <span class="input-label">Thuisteam</span>
            <input type="text"
                   ng-model="home"/>
        </label>
        <label  ng-if="away !== teamName" class="item-input">
            <span class="input-label">Uitteam</span>
            <input type="text"
                   ng-model="away"/>
        </label>
		<span>Datum
		<button class="button button-block button-stable" ng-click="openDatePicker('gameDate')"> {{ gameDate | date:'dd - MMMM - yyyy' }} </button>
		</span>
		<span>Type
			<select class="button button-block button-stable" ng-model="type" ng-change="changeType(type)"> 
				<option value="Competition" >Competition</option>
				<option value="Cup" >Cup</option>
			</select>
		</span>
		<span>Wedstrijd Aanvang
			<button class="button button-block button-stable" ng-click="openTimePicker('gameTime')"> <standard-time-no-meridian etime='gameTime'></standard-time-no-meridian></button>
		</span>
		<span>Verzamel Tijd
			<button class="button button-block button-stable" ng-click="openTimePicker('collectTime')"><standard-time-no-meridian etime='collectTime'></standard-time-no-meridian></button>
		</span>
        <button class="button button-block" ng-click="updateGame(home, away)">Opslaan</button>
    </ion-content>
</ion-view>
