<ion-view view-title="Edit Gebeurtenis">
    <ion-content>
			<div class="item item-divider">{{stat.statsType}}</div>
			<div ng-if="stat.statsType === 'Changes' && stat.type === 'In/Out'"> <!-- this  is  the div  voor wissel-->
				<label class="item item-input item-select">
					<span class="input-label">Speler Uit</span>
					<select ng-model="stat.playerOut" disabled="disabled">
						<option ng-repeat="(id,value) in presentPlayers" value="{{id}}" player-name player='players[id]' nick-name='useNickNames' />
					</select>
				</label>
				<label class="item item-input item-select">
					<span class="input-label">Speler In</span>
					<select ng-model="stat.playerIn" disabled="disabled">
						<option ng-repeat="(id,value) in presentPlayers" value="{{id}}" player-name player='players[id]' nick-name='useNickNames' />
					</select>
				</label>
				<label class="item item-input">
					Tijdstip:
					<button class="button button-stable" ng-click="openStatTimePicker()">
						<standard-time-no-meridian etime='stat.time'></standard-time-no-meridian>
					</button>
				</label>
				<label class="item item-input">
					<span class="input-label">commentaar</span>
					<input type="text" ng-model="stat.comment"/>
				</label>
				<div class="buttons">
					<button class="button button-block" ng-click="update(stat.time,stat.comment)">save</button>
				</div>
			</div>
			<div ng-if="stat.statsType === 'Changes' && stat.type === 'Position'"> <!-- this is the div voor positie wissel-->
				<label class="item item-input item-select">
					<span class="input-label">Speler</span>
					<select ng-model="stat.player1" disabled="disabled">
						<option ng-repeat="(id,value) in presentPlayers" value="{{id}}" player-name player='players[id]' nick-name='useNickNames' />
					</select>
				</label>
				<label class="item item-input item-select">
					<span class="input-label">Speler</span>
					<select ng-model="stat.player2"  disabled="disabled">
						<option ng-repeat="(id,value) in presentPlayers" value="{{id}}" player-name player='players[id]' nick-name='useNickNames' />
					</select>
				</label>
				<label class="item item-input">
					Tijdstip:
					<button class="button button-stable" ng-click="openStatTimePicker()">
						<standard-time-no-meridian etime='stat.time'></standard-time-no-meridian>
					</button>
				</label>
				<label class="item item-input">
					<span class="input-label">commentaar</span>
					<input type="text" ng-model="stat.comment"/>
				</label>
				<div class="buttons">
					<button class="button button-block" ng-click="update(stat.time,stat.comment)">save</button>
				</div>
			</div>
			<div ng-if="stat.statsType === 'OurGoals'"> <!-- this is the div voor goals voor-->
                <label class="item item-input item-select">
                    <span class="input-label">Speler</span>
                    <select ng-model="stat.player" disabled="disabled">
                        <option ng-repeat="(id,value) in presentPlayers" value="{{id}}" player-name player='players[id]' nick-name='useNickNames' />
                    </select>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Assist</span>
                    <select ng-model="stat.assist">
                        <option ng-repeat="(id,value) in presentPlayers" value="{{id}}" player-name player='players[id]' nick-name='useNickNames' />
                    </select>
                </label>
				<label class="item item-input">
					Tijdstip:
					<button class="button button-stable" ng-click="openStatTimePicker()">
						<standard-time-no-meridian etime='stat.time'></standard-time-no-meridian>
					</button>
				</label>
				<label class="item item-input">
					<span class="input-label">commentaar</span>
					<input type="text" ng-model="stat.comment"/>
				</label>
				<div class="buttons">
					<button class="button button-block" ng-click="update(stat.time,stat.comment,stat.assist)">save</button>
				</div>
			</div>
			<div ng-if="stat.statsType  === 'TheirGoals'"> <!-- this is the div voor goals tegen-->
				<label class="item item-input">
					Tijdstip:
					<button class="button button-stable" ng-click="openStatTimePicker()">
						<standard-time-no-meridian etime='stat.time'></standard-time-no-meridian>
					</button>
				</label>
				<label class="item item-input">
					<span class="input-label">commentaar</span>
					<input type="text" ng-model="stat.comment"/>
				</label>
				<div class="buttons">
					<button class="button button-block" ng-click="update(stat.time,stat.comment)">save</button>
				</div>
			</div>
			<div ng-if="stat.statsType === 'Cards' && (stat.type === 'yellow' || stat.type === 'yellow2')"> <!-- this is the div voor gele kaart-->
				<label class="item item-input item-select">
					<span class="input-label">Speler</span>
					<select ng-model="stat.player" disabled="disabled">
						<option ng-repeat="(id,value) in presentPlayers" value="{{id}}" player-name player='players[id]' nick-name='useNickNames' />
					</select>
				</label>
				<label class="item item-input">
					Tijdstip:
					<button class="button button-stable" ng-click="openStatTimePicker()">
						<standard-time-no-meridian etime='stat.time'></standard-time-no-meridian>
					</button>
				</label>
				<ion-toggle ng-model="yellow2">
					<span class="input-label" ng-if="yellow2 !== true">eerste Geel</span>
					<span class="input-label" ng-if="yellow2 === true">tweede Geel</span>
				</ion-toggle>
				<label class="item item-input">
					<span class="input-label">commentaar</span>
					<input type="text" ng-model="stat.comment"/>
				</label>
				<div class="buttons">
					<button class="button button-block" ng-click="update(stat.time,stat.comment)">save</button>
				</div>
			</div>
			<div ng-if="stat.statsType === 'Cards' && stat.type ==='red'"> <!-- this is the div voor rode kaart-->
				<label class="item item-input item-select">
					<span class="input-label">Speler</span>
					<select ng-model="stat.player"  disabled="disabled">
						<option ng-repeat="(id,value) in presentPlayers" value="{{id}}" player-name player='players[id]' nick-name='useNickNames' />
					</select>
				</label>
				<label class="item item-input">
					Tijdstip:
					<button class="button button-stable" ng-click="openStatTimePicker()">
						<standard-time-no-meridian etime='stat.time'></standard-time-no-meridian>
					</button>
				</label>
				<label class="item item-input">
					<span class="input-label">commentaar</span>
					<input type="text" ng-model="stat.comment"/>
				</label>
				<div class="buttons">
					<button class="button button-block" ng-click="update(stat.time,stat.comment)">save</button>
				</div>
			</div>
			<div ng-if="stat.statsType === 'GameEvents'"> <!-- this is the div voor GameEvents-->
				<label class="item item-input">
					Tijdstip:
					<button class="button button-stable" ng-click="openStatTimePicker()">
						<standard-time-no-meridian etime='stat.time'></standard-time-no-meridian>
					</button>
				</label>
				<label class="item item-input">
					<span class="input-label">commentaar</span>
					<input type="text" ng-model="stat.comment"/>
				</label>
				<div class="buttons">
					<button class="button button-block" ng-click="update(stat.time,stat.comment)">save</button>
				</div>
			</div>
    </ion-content>
</ion-view>
