<ion-view view-title="Wedstrijden">
  <ion-content>

	<button class="button button-block button-positive" ng-click="addGame()">Add game</button>
    <ion-list show-delete="shouldShowDelete" show-option="true">
      <ion-item ng-repeat="game in games">
            <date-Time sdate='game.date'></date-Time> <standard-time-no-meridian etime='game.time'></standard-time-no-meridian> {{game.home}} vs {{game.away}}
			<ion-option-button class="button-info"
							   ng-click="edit(item)">
			  Edit
			</ion-option-button>
			<ion-delete-button class="ion-minus-circled"
							   ng-click="items.splice($index, 1)">
			</ion-delete-button>

	  </ion-item>
    </ion-list>
      
  </ion-content>
</ion-view>
