<ion-view view-title="Home" has-subheader>
    <ion-header-bar class="bar-stable bar-subheader">
        <h1 class="title"></h1>

        <div class="buttons">
            <select class="button button-outline" ng-model="teamId" ng-change="setTeamId(teamId)"
                    ng-options="id as teams[id].teamName for (id,value) in userTeams">
					<option value="" disabled selected>Selecteer Team</option>
            </select>
            <select class="button button-outline" ng-model="seasonId" ng-change="setSeasonId(seasonId)"
                    ng-options="id as value.title for (id,value) in seasons">
					<option value="" disabled selected>Selecteer Seizoen</option>
            </select>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="row content-margin">
            <div class="col">
                <h3 class="center">Welkom
                    <player-name player='players[uid]' nick-name=false></player-name>
                </h3>
            </div>
        </div>

        <h4 class="center">Statistieken</h4>

        <div class="row">
            <div class="col col-50">
                <strong>Speelminuten</strong>
            </div>
            <div class="col col-50">
                {{stats.totGameTime}}
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <strong>Goals</strong>
            </div>
            <div class="col col-50">
                {{stats.totGoals}}
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <strong>Gele kaarten</strong>
            </div>
            <div class="col col-50">
                {{stats.totYellow}}
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <strong>Rode kaarten</strong>
            </div>
            <div class="col col-50">
                {{stats.totRed}}
            </div>
        </div>
    </ion-content>
</ion-view>
