<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="menu-bar">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content>
            <ion-list class="navigation-drawer">
                <div class="head">
                    <div class="avatar"><img src="./img/cover.jpg" /></div>
                    <div class="name">{{firstName}}</div>
                </div>
                <a ui-sref="app.home"
                   ui-sref-active="current"
                   class="item" menu-close>
                    <i class="dripicons-home"></i>
                    <span>Home</span></a>
                <a ui-sref="app.players"
                   ui-sref-active="current"
                   class="item" menu-close>
                    <i class="dripicons-user-group"></i>
                    <span>Spelers</span></a>
                <a ui-sref="app.games"
                   ui-sref-active="current"
                   class="item" menu-close>
                    <i class="dripicons-trophy"></i>
                    <span>Wedstrijden</span></a>
                <a ui-sref="app.practises"
                   ui-sref-active="current"
                   class="item" menu-close>
                    <i class="dripicons-help"></i>
                    <span>Trainingen</span></a>
                <a ui-sref="app.events"
                   ui-sref-active="current"
                   class="item" menu-close>
                    <i class="dripicons-flag"></i>
                    <span>Evenementen</span></a>
                <a ui-sref="app.Finance"
                   ui-sref-active="current"
                   class="item" menu-close>
                    <i class="dripicons-card"></i>
                    <span>Teampot</span></a>
                <a ui-sref="app.Duties"
                   ui-sref-active="current"
                   class="item" menu-close>
                    <i class="dripicons-broadcast"></i>
                    <span>Corvee</span></a>
                <a ui-sref="app.statistics"
                   ui-sref-active="current"
                   class="item" menu-close>
                    <i class="dripicons-graph-bar"></i>
                    <span>Statistieken</span></a>
                <a ui-sref="app.Settings"
                   ui-sref-active="current"
                   class="item" menu-close>
                    <i class="dripicons-gear"></i>
                    <span>Settings</span></a>
                <hr />
                <a ng-click="logout()"
                   class="item"
                   ng-controller="LogoutCtrl">
                    <i class="dripicons-exit"></i> <span>Uitloggen</span></a>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
