<ion-view title="New Event">
    <ion-content>
        <div class="row row-center">
            <div class="col col-center">
                    <h3>Event</h3>
                    <div class="list">
						<button class="button button-block button-stable" ng-click="openDatePicker('eventDate')"> {{ eventDate | date:'dd - MMMM - yyyy' }} </button>
						<button class="button button-block button-stable" ng-click="openTimePicker('eventTime')"> <standard-time-no-meridian etime='eventTime'></standard-time-no-meridian></button>
                        <label class="item item-input">
                            <span class="input-label">Locatie</span>
                            <input type="text" ng-model="location" required/>
                        </label>						
                    </div>				
                    <div>
                        <button class="button button-block button-greenbricks waves-light waves-effect" ng-click="newEvent(location)">
                            Toevoegen
                        </button>
                    </div>
                <button class="button button-block button-clear button-stable waves-light waves-effect"
                        ui-sref="tab.games">
                    Annuleren
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
