<ion-view title="New Event">
    <ion-content>
        <div class="row row-center">
            <div class="col col-center">
                    <h3>Event</h3>
                    <div class="list">
						<ionic-datepicker name="date" idate="eventDate" disablepreviousdates="false"  disablefuturedates="false" callback="datePickerCallback" disableddates="disabledDates" title="title">
							<button class="button button-block button-stable"> {{ eventDate | date:'dd - MMMM - yyyy' }} </button>
						</ionic-datepicker>
						<ionic-timepicker name="time" etime="eventTime" format="24" step="5" callback="timePickerCallback">
							<button class="button button-block button-stable"> <standard-time-no-meridian etime='eventTime'></standard-time-no-meridian></button>
						</ionic-timepicker>
                        <label class="item item-input">
                            <span class="input-label">Locatie</span>
                            <input type="text" ng-model="location" required/>
                        </label>						
                    </div>				
                    <div>
                        <button class="button button-block button-greenbricks waves-light waves-effect" ng-click="newEvent(location)">
                            Toevoegen
                        </button>
                    </div>
                <button class="button button-block button-clear button-stable waves-light waves-effect"
                        ui-sref="tab.games">
                    Annuleren
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
