<ion-view title="New Game">
    <ion-content>
        <div class="row row-center">
            <div class="col col-center">
                    <h3>Wedstrijd</h3>
                    <div class="list">
                        <span>Datum
						<ionic-datepicker name="date" idate="gameDate" disablepreviousdates="false"  disablefuturedates="false" callback="datePickerCallback" disableddates="disabledDates" title="title">
							<button class="button button-block button-stable"> {{ gameDate | date:'dd - MMMM - yyyy' }} </button>
						</ionic-datepicker>
                            </span>

                        <span>Wedstrijd Aanvang
						<ionic-timepicker name="time" etime="gameTime" format="24" step="5" callback="timePickerCallbackGameTime">
							<button class="button button-block button-stable"> <standard-time-no-meridian etime='gameTime'></standard-time-no-meridian></button>
						</ionic-timepicker>
						</span>
						<span>Verzamel Tijd
						<ionic-timepicker name="time" etime="collectTime" format="24" step="5" callback="timePickerCallbackCollectTime">
							<button class="button button-block button-stable"> <standard-time-no-meridian etime='collectTime'></standard-time-no-meridian></button>
						</ionic-timepicker>
                            </span>
						<ion-toggle ng-model="homeAway">
							<span class="input-label" ng-if="homeAway !== true">Uit</span>
							<span class="input-label" ng-if="homeAway === true">Thuis</span>
						</ion-toggle>

                        <label class="item item-input">
                            <span class="input-label">Tegenstander</span>
                            <input type="text" ng-model="opponent" required/>
                        </label>
                    </div>
					
                    <div>
                        <button class="button button-block button-greenbricks waves-light waves-effect" ng-click="newGame(homeAway, opponent)">
                            Toevoegen
                        </button>
                    </div>
                <button class="button button-block button-clear button-stable waves-light waves-effect"
                        ui-sref="tab.games">
                    Annuleren
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>