<ion-view title="New Training">
    <ion-content>
        <div class="row row-center">
            <div class="col col-center">
                    <h3>Training</h3>
                    <div class="list">
						<button class="button button-block button-stable" ng-click="openDatePicker('practiseDate')"> {{ practiseDate | date:'dd - MMMM - yyyy' }} </button>
						<button class="button button-block button-stable" ng-click="openTimePicker('practiseTime')"> <standard-time-no-meridian etime='practiseTime'></standard-time-no-meridian></button>
                        <label class="item item-input">
                            <span class="input-label">Locatie</span>
                            <input type="text" ng-model="location" required/>
                        </label>
						<br>
						<i>
							Herhalen voor {{weeks}} weken
						</i>
						<label class="item range range-positive">
							<input type="range" name="rangeInput" min="1" max="52" ng-model="weeks" ng-change="drag(rangeValue)">                                                       
						</label>
						
                    </div>				
                    <div>
                        <button class="button button-block button-greenbricks waves-light waves-effect" ng-click="newPractise(location,weeks)">
                            Toevoegen
                        </button>
                    </div>
                <button class="button button-block button-clear button-stable waves-light waves-effect"
                        ui-sref="tab.games">
                    Annuleren
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
