<ion-view view-title="Statistieken">
    <ion-content>
        <div class="header">
            <h1 class="center"><player-name player='players[playerId]' nick-name='useNickNames'></player-name></h1>
        </div>
        <ion-list>
            <div class="item" ng-click="toggleGroup('%')"
                 ng-class="{active: isGroupShown('%')}">
                <span class="highlight">coefficient : {{playerStats.coefGameTime}} %</span>
                <i class="icon float-right"
                   ng-class="isGroupShown('%') ? 'ion-android-arrow-dropright-circle' : 'ion-android-arrow-dropdown-circle'"></i>
            </div>
            <div  ng-show="isGroupShown('%')">
                <div class="item row"><div class="col float-left"><b>Games present:  {{ playerStats.totGamePresent }}</b> </div></div>
                <div class="item row"><div class="col float-left"><b> Maximum minuten: {{ playerStats.maxGameTime }}</b> </div></div>
                <div class="item row"><div class="col float-left"><b> Gespeelde minuten: {{ playerStats.totGameTime }}</b> </div></div>
                <div class="item row"><div class="col float-left"><b> Aantal wisselbeurten: {{ playerStats.totChanges }}</b> </div></div>
            </div>
            <div class="item" ng-click="toggleGroup('gameTime')"
                 ng-class="{active: isGroupShown('gameTime')}">
                <span class="highlight">Speelminuten : {{playerStats.totGameTime}}</span>
                <i class="icon float-right"
                   ng-class="isGroupShown('gameTime') ? 'ion-android-arrow-dropright-circle' : 'ion-android-arrow-dropdown-circle'"></i>
            </div>
            <div class="item row" ng-repeat="item in playerStats.gametimeList | orderObjectBy:'date'"
                 ng-show="isGroupShown('gameTime')">
                <div class="col float-left">
                    <b>
                        {{games[item.game].home}} vs
                        {{games[item.game].away}}
                    </b>
                </div>
                <div class="col float-left">{{ item.date | date:'dd-MM-yyyy' }}</div>
                <div class="col float-left">{{item.gametime}} minuten</div>
            </div>
            <div class="item" ng-click="toggleGroup('goals')" ng-class="{active: isGroupShown('goals')}">
                <span class="highlight">goals : {{playerStats.totGoals}}</span>
                <i class="icon float-right"
                   ng-class="isGroupShown('goals') ? 'ion-android-arrow-dropright-circle' : 'ion-android-arrow-dropdown-circle'"></i>
            </div>
            <div class="item row" ng-repeat="item in playerStats.goalsList | orderObjectBy:'date'"
                 ng-show="isGroupShown('goals')">
                <div class="col float-left">
                    <b>
                        {{games[item.game].home}} vs
                        {{games[item.game].away}}
                    </b>
                </div>
                <div class="col float-left">Goal: {{ item.date | date:'dd-MM-yyyy' }} </div>
                <div class="col float-left">{{statistics[item.game].GameLog[item.gamelogId].comment}}</div>

            </div>
            <div class="item" ng-click="toggleGroup('cards')" ng-class="{active: isGroupShown('cards')}">
                <span class="highlight">gele kaarten : {{playerStats.totYellow}} rode kaarten : {{playerStats.totRed}}</span>
                <i class="icon float-right"
                   ng-class="isGroupShown('cards') ? 'ion-android-arrow-dropright-circle' : 'ion-android-arrow-dropdown-circle'"></i>
            </div>
            <div class="item" ng-repeat="item in playerStats.cardsList | orderObjectBy:'date'"
                 ng-show="isGroupShown('cards')">
                <div class="col float-left"><span ng-if="statistics[item.game].GameLog[item.gamelogId].statsType === 'yellow'"> Geel: </span></div>
                <div class="col float-left"><span ng-if="statistics[item.game].GameLog[item.gamelogId].statsType === 'yellow2'"> 2e Geel: </span></div>
                <div class="col float-left"><span ng-if="statistics[item.game].GameLog[item.gamelogId].statsType === 'red'"> Rood: </span></div>
                <div class="col float-left"><b> {{games[item.game].home}} vs {{games[item.game].away}} </b></div>
                <div class="col float-left">{{ item.date | date:'dd-MM-yyyy' }} </div>
                <div class="col float-left">{{statistics[item.game].GameLog[item.gamelogId].comment}}</div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
