<ion-view view-title="Spelers">
  <ion-content>
    <ion-list>
      <ion-item  class="item item-thumbnail-left" href="#" ng-repeat="(key,player) in players | toArray: true | orderBy : 'lastName'" ng-click="ShowPlayerDetails(player)">
		<img src="../img/cover.jpg" alt="Geen afbeelding" />
        <h2>{{player.firstName}} {{player.insertion}} {{player.lastName}}</h2>
        <p><!--Bijnaam--></p>
		<ion-option-button class="button-assertive" ng-if="isAdmin" ng-click="$event.stopPropagation(); deactivatePlayer(key)">Deactivate</ion-option-button>
      </ion-item>
    </ion-list>
	<ion-list>
        <div class="item item-divider">Inactief</div>
      <ion-item class="item item-thumbnail-left item-inactive" href="#" ng-repeat="(key,player) in inactivePlayers">
          <img src="../img/cover.jpg" alt="Geen afbeelding" />
          <h2>{{player.firstName}} {{player.insertion}} {{player.lastName}}</h2>
        <p><!--Bijnaam--></p>
		<ion-option-button class="button-balanced" ng-if="isAdmin" ng-click="$event.stopPropagation(); activatePlayer(key)">Activate</ion-option-button>
      </ion-item>
    </ion-list>
	<button ng-if="isAdmin" class="button button-block button-stable" disabled="disabled" ng-click="invitePlayer()">Invite player</button>
  </ion-content>
</ion-view>
