<ion-view view-title="Edit Training">
    <ion-content>
		<span>Datum
        <button class="button button-block button-stable" ng-click="openDatePicker('practiseDate')"> {{ practiseDate | date:'dd - MMMM - yyyy' }} </button>
		</span>
		<span>tijd
        <button class="button button-block button-stable" ng-click="openTimePicker('practiseTime')"> <standard-time-no-meridian etime='practiseTime'></standard-time-no-meridian></button>
		</span>
        <label class="item-input">
            <span class="input-label">Locatie</span>
            <input type="text"
                   ng-model="location"/>
        </label>

        <button class="button button-block" ng-click="updatePractise(location)">Opslaan</button>
    </ion-content>
</ion-view>
