<ion-view view-title="Trainingen">
    <ion-content>
        <div class="row responsive-sm">
            <div class="col col-50">
                <span class="center">Datum : {{ practiseDate | date:'dd - MM - yyyy' }} <standard-time-no-meridian
                        etime='practise.time'></standard-time-no-meridian></span>
                <span class="center">Locatie: {{practise.location}}</span>
            </div>
            <div class="col col-50" ng-if="settings.dutyPractises === true">
                <span ng-repeat="(id,value) in practise.Duty" class="center">Corvee: {{players[id].firstName}} {{players[id].insertion}} {{players[id].lastName}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="center">Geef hier je beschikbaarheid op</h3>
                <span class="center">Ik ben</span>

                <div class="button-bar">
                    <a ng-class="{ 'button button-balanced' : present , 'button button-stable' : !present }"
                       ng-click="changeAttendance('present');">aanwezig</a>
                    <a ng-class="{ 'button button-assertive' : absent , 'button button-stable' : !absent  }"
                       ng-click="changeAttendance('absent');">afwezig</a>
                </div>
            </div>
        </div>
        <div class="row responsive-sm">
            <div class="col">
                <div class="item item-divider">
                    <span>Aanwezig</span>
                </div>
                <ion-item ng-repeat="(id,value) in practise.Present">
                    {{players[id].firstName}} {{players[id].insertion}} {{players[id].lastName}}
                    <!-- <ion-option-button class="button-balanced" ng-if="isAdmin" ng-click="$event.stopPropagation(); forceAttendance('present',id)">P</ion-option-button> -->
                    <ion-option-button class="button-assertive" ng-if="isAdmin"
                                       ng-click="$event.stopPropagation(); forceAttendance('absent',id)">A
                    </ion-option-button>
                    <ion-option-button class="button-royal" ng-if="isAdmin"
                                       ng-click="$event.stopPropagation(); forceAttendance('unknown',id)">U
                    </ion-option-button>
                </ion-item>
            </div>
            <div class="col">
                <div class="item item-divider">
                    <span>Afwezig</span>
                </div>
                <ion-item ng-repeat="(id,value) in practise.Absent">
                    {{players[id].firstName}} {{players[id].insertion}} {{players[id].lastName}}
                    <ion-option-button class="button-balanced" ng-if="isAdmin"
                                       ng-click="$event.stopPropagation(); forceAttendance('present',id)">P
                    </ion-option-button>
                    <!-- <ion-option-button class="button-assertive" ng-if="isAdmin" ng-click="$event.stopPropagation(); forceAttendance('absent',id)">A</ion-option-button> -->
                    <ion-option-button class="button-royal" ng-if="isAdmin"
                                       ng-click="$event.stopPropagation(); forceAttendance('unknown',id)">U
                    </ion-option-button>
                </ion-item>
            </div>
            <div class="col">
                <div class="item item-divider">
                    <span>Onbekend</span>
                </div>
                <ion-list>
                    <ion-item ng-repeat="(key,player) in unknownPlayers">
                        {{player.firstName}} {{player.insertion}} {{player.lastName}}
                        <ion-option-button class="button-balanced" ng-if="isAdmin"
                                           ng-click="$event.stopPropagation(); forceAttendance('present',key)">P
                        </ion-option-button>
                        <ion-option-button class="button-assertive" ng-if="isAdmin"
                                           ng-click="$event.stopPropagation(); forceAttendance('absent',key)">A
                        </ion-option-button>
                        <!-- <ion-option-button class="button-royal" ng-if="isAdmin" ng-click="$event.stopPropagation(); forceAttendance('unknown',key)">U</ion-option-button> -->
                    </ion-item>
                </ion-list>
            </div>
        </div>
        </div>
        </div>


    </ion-content>
</ion-view>
