<ion-view view-title="Edit Training">
    <ion-content>
        <ionic-datepicker name="date" idate="practiseDate" disablepreviousdates="true"  disablefuturedates="false" callback="datePickerCallback" disableddates="disabledDates" title="title">
            <button class="button button-block button-positive"> {{ practiseDate | date:'dd - MMMM - yyyy' }} </button>
        </ionic-datepicker>
        <ionic-timepicker name="time" etime="gameTime" format="24" step="15" callback="timePickerCallback">
            <button class="button button-block button-positive"> <standard-time-no-meridian etime='practiseTime'></standard-time-no-meridian></button>
        </ionic-timepicker>

        <label class="item-input">
            <span class="input-label">Locatie</span>
            <input type="text"
                   ng-model="location"/>
        </label>

        <button class="button button-block" ng-click="updatePractise(location)">Opslaan</button>
    </ion-content>
</ion-view>
