<ion-view view-title="Trainingen" has-subheader>
    <ion-header-bar class="bar-stable bar-subheader">
        <div class="buttons">
            <button ng-if="isAdmin" class="button button-icon icon ion-ios-minus-outline" ng-click="showDelete()"></button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-outline" ng-if="isAdmin" ng-click="addPractise()">Add training</button>
        </div>

    </ion-header-bar>
    <ion-content>
        <ion-list class="card item-text-wrap" show-delete="ShowDelete" can-swipe="isAdmin">
            <ion-item ng-repeat="practise in practises | orderBy:'date'  | isFuture | limitTo:limit"  ng-click="getDetail(practise)">
                <span>{{practise.date | date: 'dd-MM-yyyy'}}</span> <standard-time-no-meridian etime='practise.time'></standard-time-no-meridian> {{practise.location}}
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="onItemDelete(practise)">
                </ion-delete-button>
				<ion-option-button class="button-balanced" ng-click="$event.stopPropagation(); changeAttendance('present',practise)">P</ion-option-button>
				<ion-option-button class="button-assertive" ng-click="$event.stopPropagation(); changeAttendance('absent',practise)">A</ion-option-button>
                <ion-option-button class="button-dark" ng-if="isAdmin" ng-click="$event.stopPropagation(); editPractise(practise)">Edit</ion-option-button>
            </ion-item>
            <ion-item class="center"><div ng-click="loadMore()" ng-show="limit == 3">Meer laden</div><div ng-click="loadLess()" ng-show="limit != 3 ">Minder laden</div></ion-item>
        </ion-list>

        <ion-item class="item-light" ng-click="toggleGroup('past')" ng-class="{active: isGroupShown('past')}">
            Geschiedenis             <i class="icon float-right" ng-class="isGroupShown('past') ? 'ion-chevron-up' : 'ion-chevron-down'"></i>

        </ion-item>
        <ion-list class="card item-text-wrap" show-delete="ShowDelete" can-swipe="isAdmin">
            <ion-item ng-repeat="practise in practises | orderBy:'-date'  | isPast"  ng-click="getDetail(practise)" class="item-accordion disabled" ng-show="isGroupShown('past')">
                <span>{{practise.date | date: 'dd-MM-yyyy'}}</span> <standard-time-no-meridian etime='practise.time'></standard-time-no-meridian> {{practise.location}}
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="onItemDelete(practise)">
                </ion-delete-button>
				<ion-option-button class="button-balanced" ng-click="$event.stopPropagation(); changeAttendance('present',practise)">P</ion-option-button>
				<ion-option-button class="button-assertive" ng-click="$event.stopPropagation(); changeAttendance('absent',practise)">A</ion-option-button>
                <ion-option-button class="button-dark" ng-if="isAdmin" ng-click="$event.stopPropagation(); editPractise(practise)">Edit</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
