<ion-view view-title="Home">
    <ion-content>
        <div class="row">
            <div class="col">
                <button class="button button-block button-dark" ng-click="identifyUser()">
                    Identify a user
                </button>

                <button class="button button-block button-positive" ng-if="identified" ng-click="pushRegister()">
                    Register for Push
                </button>

            <button class="button button-block button-positive" ng-if="identified" ng-click="sendPush()">
                send Push
            </button>
            </div>
        </div>
    </ion-content>
</ion-view>
