<ion-view title="Registreren">
    <ion-content>
        <div class="row row-center">
            <div class="col col-center">
                <form name="registerForm" novalidate>
					
                    <ion-toggle ng-model="nieuwTeam.checked" ng-change="pushNotificationChange()">
					<span class="input-label" ng-if="nieuwTeam.checked != true">Bestaand Team</span>
					<span class="input-label" ng-if="nieuwTeam.checked == true">Nieuw Team</span>
					</ion-toggle>
						<h3 ng-if="nieuwTeam.checked == true">Nieuw Team</h3>
						<h3 ng-if="nieuwTeam.checked != true">Bestaand Team</h3>
							<label class="item item-input" ng-class="{ 'has-error' : registerForm.$submitted}">
								<span class="input-label" ng-if="nieuwTeam.checked == true">Teamnaam</span>
								<span class="input-label" ng-if="nieuwTeam.checked != true">Team Referentie</span>
								<input type="text" ng-model="teamName" name="teamName"/>
							</label>
						<h3 ng-if="nieuwTeam.checked == true">Beheerder</h3>
						<h3 ng-if="nieuwTeam.checked != true">Speler</h3>
                    <div class="list">
                        <!--Voornaam + validatie-->
                        <label class="item item-input" ng-class="{ 'has-error' : registerForm.$submitted}">
                            <span class="input-label">Voornaam</span>
                            <input type="text" ng-model="fn" name="fn" required/>
                        </label>
                        <!--einde voornaam-->

                        <!--tussenvoegsel + validatie-->
                        <label class="item item-input" ng-class="{ 'has-error' : registerForm.$submitted}">
                            <span class="input-label">Tussenvoegsel</span>
                            <input type="text" ng-model="in" name="in" required/>
                        </label>
                        <!--einde tussenvoegsel-->

                        <!--achternaam + validatie-->
                        <label class="item item-input" ng-class="{ 'has-error' : registerForm.$submitted}">
                            <span class="input-label">Achternaam</span>
                            <input type="text" ng-model="ln" name="ln" required/>
                        </label>
                        <!--einde achternaam-->

                        <label class="item item-input">
                            <span class="input-label">Email</span>
                            <input type="text" ng-model="em" required/>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Password</span>
                            <input type="password" ng-model="pwd" required/>
                        </label>
                    </div>
                    <div>
                        <button class="button button-block button-greenbricks waves-light waves-effect" ng-click="createTeam(teamName,nieuwTeam.checked, fn, ln, in, em, pwd)">
                            Registreren
                        </button>
                    </div>
                </form>
                <button class="button button-block button-clear button-stable waves-light waves-effect"
                        ui-sref="tab.login">
                    Annuleren
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>