<ion-view view-title="Instellingen">
  <ion-content>
  
	<ion-list>
		<div ng-if="isAdmin == true">
			<ion-item class="item-stable" ng-click="toggleGroup('corvee')" ng-class="{active: isGroupShown('corvee')}">
				&nbsp;
				Corvee Settings
				<i class="icon" ng-class="isGroupShown('corvee') ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
			</ion-item>
			<ion-item class="item-accordion" ng-show="isGroupShown('corvee')">
				<ion-toggle ng-model="settings.dutyGames" ng-change="changeSetting('dutyGames',settings.dutyGames)">Wedstrijden</ion-toggle>
				<ion-toggle ng-model="settings.dutyPractises" ng-change="changeSetting('dutyPractises',settings.dutyPractises)">Trainingen</ion-toggle>
				<ion-toggle ng-model="settings.dutyEvents" ng-change="changeSetting('dutyEvents',settings.dutyEvents)">Evenementen</ion-toggle>
			</ion-item>
		</div>
		<ion-item class="item-stable" ng-click="toggleGroup('changePW')" ng-class="{active: isGroupShown('changePW')}">
			  <i class="icon" ng-class="isGroupShown('changePW') ? 'ion-android-arrow-dropright-circle' : 'ion-android-arrow-dropdown-circle'"></i>
			&nbsp;
			Wijzig password
		</ion-item>
		<ion-item class="item-accordion" ng-show="isGroupShown('changePW')">
			<label class="item item-input">
				<span class="input-label">old Password</span>
				<input type="password" ng-model="oldPwd" required/>
			</label>
			<label class="item item-input">
				<span class="input-label">new Password</span>
				<input type="password" ng-model="newPwd" required/>
			</label>
			<label class="item item-input">
				<span class="input-label">confim new Password</span>
				<input type="password" ng-model="cnfPwd" required/>
			</label>
			<button class="button button-block button-greenbricks waves-light waves-effect" ng-click="changePassword(oldPwd,newPwd,cnfPwd)">
                            Wijzigen
			</button>
		</ion-item>
		<div ng-if="isAdmin == true">
		<ion-item class="item-stable" ng-click="toggleGroup('LinkExt')" ng-class="{active: isGroupShown('LinkExt')}">
			  <i class="icon" ng-class="isGroupShown('LinkExt') ? 'ion-android-arrow-dropright-circle' : 'ion-android-arrow-dropdown-circle'"></i>
			&nbsp;
			Link externe speler
		</ion-item>
		<ion-item class="item-accordion" ng-show="isGroupShown('LinkExt')">
			<select class="button button-block center" ng-model="selectedExt" ng-options="id as value for (id,value) in externalList"></select>
			<select class="button button-block center" ng-model="selectedInt">
				<option ng-repeat="(id,value) in players" value="{{id}}" player-name player='value' nick-name='useNickNames' />
			</select>
			<div class="buttons">
					<button class="button button-bq" ng-click="changeExtInt(selectedExt,selectedInt)">Update!</button>
			</div>		
		</ion-item>
		</div>
		<div ng-if="isAdmin == true">
		<ion-item class="item-stable" ng-click="toggleGroup('defaultNumbers')" ng-class="{active: isGroupShown('defaultNumbers')}">
			  <i class="icon" ng-class="isGroupShown('defaultNumbers') ? 'ion-android-arrow-dropright-circle' : 'ion-android-arrow-dropdown-circle'"></i>
			&nbsp;
			Standaard rugnummers
		</ion-item>
		<ion-item class="item-accordion" ng-show="isGroupShown('defaultNumbers')">
			<select class="button button-block center" ng-model="selectedPlayer" ng-change="playerSelected(selectedPlayer)"> 
				<option ng-repeat="(id,value) in players" value="{{id}}" player-name player='value' nick-name='useNickNames' />
			</select>
			<div ng-if="showData == true">
				huidige rugnummer: {{selectedNumber}}
				<select class="button button-block center" ng-model="number" ng-options="item for item in availableNumbers"></select>

				<div class="buttons">
						<button class="button button-bq" ng-click="changeNumber(selectedPlayer,number)">Update!</button>
			</div>	
			</div>			
		</ion-item>
		</div>
		<ion-item class="item-stable" ng-click="toggleGroup('UpdatePlayer')" ng-class="{active: isGroupShown('UpdatePlayer')}">
			  <i class="icon" ng-class="isGroupShown('UpdatePlayer') ? 'ion-android-arrow-dropright-circle' : 'ion-android-arrow-dropdown-circle'"></i>
			&nbsp;
			Speler Info
		</ion-item>
		<ion-item class="item-accordion" ng-show="isGroupShown('UpdatePlayer')">
			<div ng-if="isAdmin == true" class="buttons">
					Tijdelijk :::  new structure update: <button class="button button-bq" ng-click="updatePlayers()">Refresh all players!</button>
					Tijdelijk :::  new structure update: <button class="button button-bq" ng-click="addSeasons()">voeg Seasons layer toe aan DB!</button>
					Tijdelijk :::  new structure update: <button class="button button-bq" ng-click="updatePositionsToObjects()">voegfdsbhudfaguvy DB!</button>

			</div>
			<select class="button button-block center" ng-model="selectedPlayer" ng-change="playerSelected(selectedPlayer)">
				<option ng-repeat="(id,value) in players" value="{{id}}" player-name player='value' nick-name='useNickNames' />
			</select>
			<div ng-if="showData == true">
				<label class="item item-input">
					<span class="input-label">Voornaam:</span>
					<input type="text" ng-model="players[selectedPlayer].firstName" name="firstName" />
				</label>
				<label class="item item-input">
					<span class="input-label">Tussenvoegsel:</span>
					<input type="text" ng-model="players[selectedPlayer].insertion" name="insertion" />
				</label>
				<label class="item item-input">
					<span class="input-label">Achternaam:</span>
					<input type="text" ng-model="players[selectedPlayer].lastName" name="lastName" />
				</label>
				<label class="item item-input">
					<span class="input-label">Bijnaam:</span>
					<input type="text" ng-model="players[selectedPlayer].nickName" name="nickName" />
				</label>
				<div class="buttons">
					<button class="button button-bq" ng-click="updatePlayer(selectedPlayer)">Update</button>
				</div>
			</div>			
		</ion-item>
		<div ng-if="isAdmin == true">
		<ion-item class="item-stable" ng-click="toggleGroup('Admins')" ng-class="{active: isGroupShown('Admins')}">
			  <i class="icon" ng-class="isGroupShown('Admins') ? 'ion-android-arrow-dropright-circle' : 'ion-android-arrow-dropdown-circle'"></i>
			&nbsp;
			beheer admins
		</ion-item>
		<ion-item class="item-accordion" ng-show="isGroupShown('Admins')">
			<ion-list>
				<ion-item ng-repeat="(key,admin) in admins">
					<h2><player-name player='players[key]' nick-name='useNickNames'></player-name></h2>
					<ion-option-button class="button-assertive" ng-if="isAdmin" ng-click="$event.stopPropagation(); deactivateAdmin(key)">Deactivate</ion-option-button>
				</ion-item>
			</ion-list>
			<select class="button button-block center" ng-model="selectedPlayer">
				<option ng-repeat="(id,value) in players" value="{{id}}" player-name player='value' nick-name='useNickNames' />
			</select>
			<div class="buttons">
					<button class="button button-bq" ng-click="addAdmin(selectedPlayer)">Add Admin!</button>
			</div>		
		</ion-item>
		</div>
		<div ng-if="isAdmin == true">
		<ion-item class="item-stable" ng-click="toggleGroup('Seasons')" ng-class="{active: isGroupShown('Seasons')}">
			  <i class="icon" ng-class="isGroupShown('Seasons') ? 'ion-android-arrow-dropright-circle' : 'ion-android-arrow-dropdown-circle'"></i>
			&nbsp;
			Seizoenen
		</ion-item>
		<ion-item class="item-accordion" ng-show="isGroupShown('Seasons')">
			<ion-list>
				<ion-item ng-repeat="(id,value) in seasons">
					<h2>Season:{{value.title}}</h2>
					<ion-option-button class="button-assertive" ng-if="isAdmin" ng-click="$event.stopPropagation(); deleteSeason(id)">Delete</ion-option-button>
				</ion-item>
			</ion-list>
			
			Add new Season:
			<label class="item item-input">
				<span class="input-label">Title:</span>
				<input type="text" ng-model="newTitle" name="title" />
			</label>
			<label class="item item-input">
				<span class="input-label">Start:</span>
				<button class="button button-block button-stable" ng-click="openDatePicker('start')"> {{ newStart | date:'dd - MMMM - yyyy' }} </button>
			</label>
			<label class="item item-input">
				<span class="input-label">End:</span>
				<button class="button button-block button-stable" ng-click="openDatePicker('end')"> {{ newEnd | date:'dd - MMMM - yyyy' }} </button>
			</label>
			<div class="buttons">
				<button class="button button-bq" ng-click="addSeason(newTitle)">Add Season!</button>
			</div>		
		</ion-item>
		</div>
	 </ion-list>
  </ion-content>
</ion-view>
