<ion-view view-title="Instellingen">
  <ion-content>
  
	<ion-list>
		<div ng-if="isAdmin == true">
			<ion-item class="item-stable" ng-click="toggleGroup('corvee')" ng-class="{active: isGroupShown('corvee')}">
				  <i class="icon" ng-class="isGroupShown('corvee') ? 'ion-android-arrow-dropright-circle' : 'ion-android-arrow-dropdown-circle'"></i>
				&nbsp;
				Corvee Settings
			</ion-item>
			<ion-item class="item-accordion" ng-show="isGroupShown('corvee')">
				<ion-toggle ng-model="settings.dutyGames" ng-change="changeSetting('dutyGames',settings.dutyGames)">Wedstrijden</ion-toggle>
				<ion-toggle ng-model="settings.dutyPractises" ng-change="changeSetting('dutyPractises',settings.dutyPractises)">Trainingen</ion-toggle>
				<ion-toggle ng-model="settings.dutyEvents" ng-change="changeSetting('dutyEvents',settings.dutyEvents)">Evenementen</ion-toggle>
			</ion-item>
		</div>
		<ion-item class="item-stable" ng-click="toggleGroup('changePW')" ng-class="{active: isGroupShown('changePW')}">
			  <i class="icon" ng-class="isGroupShown('changePW') ? 'ion-android-arrow-dropright-circle' : 'ion-android-arrow-dropdown-circle'"></i>
			&nbsp;
			Wijzig password
		</ion-item>
		<ion-item class="item-accordion" ng-show="isGroupShown('changePW')">
			<label class="item item-input">
				<span class="input-label">old Password</span>
				<input type="password" ng-model="oldPwd" required/>
			</label>
			<label class="item item-input">
				<span class="input-label">new Password</span>
				<input type="password" ng-model="newPwd" required/>
			</label>
			<label class="item item-input">
				<span class="input-label">confim new Password</span>
				<input type="password" ng-model="cnfPwd" required/>
			</label>
			<button class="button button-block button-greenbricks waves-light waves-effect" ng-click="changePassword(oldPwd,newPwd,cnfPwd)">
                            Wijzigen
			</button>
		</ion-item>
		<div ng-if="isAdmin == true">
		<ion-item class="item-stable" ng-click="toggleGroup('LinkExt')" ng-class="{active: isGroupShown('LinkExt')}">
			  <i class="icon" ng-class="isGroupShown('LinkExt') ? 'ion-android-arrow-dropright-circle' : 'ion-android-arrow-dropdown-circle'"></i>
			&nbsp;
			Link externe speler
		</ion-item>
		<ion-item class="item-accordion" ng-show="isGroupShown('LinkExt')">
			<select class="button button-block center" ng-model="selectedExt" ng-options="id as value for (id,value) in externalList"></select>
			<select class="button button-block center" ng-model="selectedInt" ng-options="id as (value.firstName +nbsp+ value.insertion +nbsp+ value.lastName) for (id,value) in players"></select>
			<div class="buttons">
					<button class="button button-bq" ng-click="changeExtInt(selectedExt,selectedInt)">Update!</button>
			</div>		
		</ion-item>
		</div>
		<div ng-if="isAdmin == true">
		<ion-item class="item-stable" ng-click="toggleGroup('Admins')" ng-class="{active: isGroupShown('Admins')}">
			  <i class="icon" ng-class="isGroupShown('Admins') ? 'ion-android-arrow-dropright-circle' : 'ion-android-arrow-dropdown-circle'"></i>
			&nbsp;
			beheer admins
		</ion-item>
		<ion-item class="item-accordion" ng-show="isGroupShown('Admins')">
			<ion-list>
				<ion-item ng-repeat="(key,admin) in admins">
					<h2>{{players[key].firstName}} {{players[key].insertion}} {{players[key].lastName}}</h2>
					<ion-option-button class="button-assertive" ng-if="isAdmin" ng-click="$event.stopPropagation(); deactivateAdmin(key)">Deactivate</ion-option-button>
				</ion-item>
			</ion-list>
			<select class="button button-block center" ng-model="selectedPlayer" ng-options="id as (value.firstName +nbsp+ value.insertion +nbsp+ value.lastName) for (id,value) in players"></select>
			<div class="buttons">
					<button class="button button-bq" ng-click="addAdmin(selectedPlayer)">Add Admin!</button>
			</div>		
		</ion-item>
		</div>
	 </ion-list>
  </ion-content>
</ion-view>
