<ion-view view-title="Statistieken" has-subheader>
  <ion-header-bar class="bar-stable bar-subheader">
    <div class="row">
      <div class="col-25 float-left center" ng-click="order('lastName')">
          Naam <span ng-show="orderByField=='lastName'"><span ng-show="selected['lastName']"> &#8593;</span><span ng-hide="selected['lastName']"> &#8595;</span></span>
      </div>
      <div class="col-20 float-left center" ng-click="order('totGoals')">
          Goals <span ng-show="orderByField=='totGoals'"><span ng-show="selected['totGoals']"> &#8593;</span><span ng-hide="selected['totGoals']"> &#8595;</span></span>
      </div>
      <div class="col-10 float-left center" ng-click="order('totGameTime')">
          Min <span ng-show="orderByField=='totGameTime'"><span ng-show="selected['totGameTime']"> &#8593;</span><span ng-hide="selected['totGameTime']"> &#8595;</span></span>
      </div>
      <div class="col-10 float-left center" ng-click="order('totYellow')">
          Geel <span ng-show="orderByField=='totYellow'"><span ng-show="selected['totYellow']"> &#8593;</span><span ng-hide="selected['totYellow']"> &#8595;</span></span>
      </div>
      <div class=" col-10 float-left center" ng-click="order('totRed')">
          Rood <span ng-show="orderByField=='totRed'"><span ng-show="selected['totRed']"> &#8593;</span><span ng-hide="selected['totRed']"> &#8595;</span></span>
      </div>
    </div>
  </ion-header-bar>
  <ion-content class="content-margin">

      <div class="row item" ng-repeat="player in sortedPlayers track by $index">
            <div  ng-click="ShowPlayerDetails(player)" class="col col-25 whitespace float-left center"><player-name player='player' nick-name='useNickNames'></player-name></div>
            <div class="col col-20 float-left center">{{player.totGoals}}</div>
            <div class="col col-10 float-left center">{{player.totGameTime}}</div>
            <div class="col col-10 float-left center">{{player.totYellow}}</div>
            <div class="col col-10 float-left center">{{player.totRed}}</div>
      </div>
  </ion-content>
</ion-view>
