<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Account Tab -->
    <ion-tab title="Inloggen" icon-off="ion-log-in" icon-on="ion-log-in" href="#/tab/login">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Wachtwoord vergeten" icon-off="ion-help" icon-on="ion-help" href="#/tab/wachtwoordvergeten">
        <ion-nav-view name="tab-lostpassword"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Registreren" icon-off="ion-person-add" icon-on="ion-person-add" href="#/tab/registreren">
    <ion-nav-view name="tab-register"></ion-nav-view>
    </ion-tab>

</ion-tabs>
