$main-color:        #607D8B;
$main-color-dark:   #455A64;
$main-color-light:  #CFD8DC;
$text-color:        #FFFFFF;
$accent-color:      #FFEB3B;
$primary-text:      #212121;
$secondary-text:    #727272;
$divider:           #B6B6B6;
$menu-height:       65px;
