body, .ionic-body {
    font-family : 'Open Sans', sans-serif;
    font-size : 1em;
    color: #555;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
}
.center {
    text-align : center;
    display: block;
    margin: 0 auto;
}
img {
    max-width : 100%;
}
.float-left {
    float : left;
}
.divider {
    width : 100%;
    clear : both;
    height : 40px;
}
.menu-bar-side {
    background: #ae0f11;
    color: #fff;
}
.menu-bar {
    background: #a10e10;
    color: #fff;
}

.menu-bar .button-clear {
    color: #fff;
}

.bar.bar-stable {
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    background: transparent;
    color: #444;
    box-shadow: none !important;
    border-color: #ccc;
}

.col-40 {
-webkit-box-flex: 0;
-webkit-flex: 0 0 40%;
-moz-box-flex: 0;
-moz-flex: 0 0 40%;
-ms-flex: 0 0 40%;
flex: 0 0 40%;
max-width: 40%;
}
.col-30{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}

.whitespace {
    white-space: pre;
}